.ranking{
  box-shadow: 0 5px 5px rgba(204, 204, 204, 0.75);
  background-color: #ffffff;
  max-height: 120px;
  margin-bottom: 200px;
  .row{
    width: 100%;
  }
  .badge{
    margin: -85px 0;
    width: 277px;
  }
  .rankBadge{
    display: flex;
    .text{
      max-width: 230px;
      font-family: 'Roboto', sans-serif;
      font-size: 20px;
      color: #202020;
    }
  }
}

/* ________ADAPTIVE______ */
@media (max-width: 360px) {
  .row {
    flex-direction: column;
    text-align: center;
    .badge {
      margin-right: -25px;
      width: 220px;
    }
    .rankBadge {
      display: none;
    }
  }
}

@media (max-width: 375px) {
  .row {
    flex-direction: column;
    text-align: center;
    .badge {
      margin-right: -25px;
      width: 150px;
    }
    .rankBadge {
      display: none;
    }
  }
}

@media (max-width: 414px) {
  .row {
    flex-direction: column;
    text-align: center;
    .badge {
      margin-right: -25px;
      width: 150px;
    }
    .rankBadge {
      display: none;
    }
  }
}

@media (max-width: 575.98px) {
  .row {
    justify-content: center;
    .badge {
      width: 220px;
    }
    .rankBadge {
      p {
        display: none;
      }
    }
  }
}

// Small devices (landscape phones, less than 768px)
@media (max-width: 767.98px) {
  .row {
    justify-content: center;
    flex-wrap: nowrap;
    .rankBadge {
      align-items: center;
      p {

      };
      img {
        height: 80px;
        width: 80px;
        padding: 10px;
      }
    }
  }
}

// Medium devices (tablets, less than 992px)
@media (max-width: 991.98px) {
  .row {
    flex-wrap: nowrap;
    .rankBadge {
      align-items: center;
      p {
        font-size: 18px !important;
      };
      img {
        height: 80px;
        width: 80px;
        padding: 10px;
      }
    }
  }
}

// Large devices (desktops, less than 1200px)
@media (max-width: 1199.98px) {

}