.mobWrapper {
	color: black;
	flex-direction: column;
	.mobBurger {
		margin: 20px 0;
		border: none;
		background: white;
		outline: none;
	}
	.mobileMenu {
		ul {
			margin: 0;
			padding-left: 10px;
			a {
				text-decoration: none;
				color: #7c7b7b;
				font-family: Roboto, sans-serif;
				font-weight: 400;
				&:hover {
					color: #343434;
				}
			}
			li {
				color: black;
				font-weight: 700;
				letter-spacing: 0.9px;
				font-family: 'Roboto - Bold', sans-serif;
				text-decoration: none;
				list-style: none;
				padding: 3px 0;
				cursor: pointer;
				&:hover {
					color: #fd7e14;
				}
			}
		}
	}
}
.whiteHeaderWrapper {
	height: 100px;
	position: absolute;
	background: white;
	color: #7c7b7b;
	left: 50%;
	margin-right: -50%;
	transform: translateX(-50%);
	clip-path: polygon(4% 67%, 93% 64%, 97% 0, 0 0);
	align-items: center;
	font-family: Roboto, sans-serif;

	.layerImg {
		padding-top: 10px;
	}
	.menuItemsWrappers {
		position: relative;
		display: flex;
		align-items: baseline;
		justify-content: center;
		padding-top: 10px;
		.toggleBtn {
			position: relative;
			padding: 10px 41px;
			border-radius: 20px;
			background: linear-gradient(to right, #f03061, #f8a142);
			svg {
				position: absolute;
				right: 19px;
				top: 15px;
				color: white;
			}
			.toggle {
				color: #feefee;
				font-weight: 700;
				letter-spacing: 0.9px;
				font-family: 'Roboto - Bold', sans-serif;
			}
			.toggleMenu {
				position: absolute;
				right: 3px;
				top: 47px;
				overflow: visible;
			}
			&:hover {
				background: linear-gradient(to right, #f8a142, #f03061);
			}
		}
	}
	.wrapperMenu {
		font-size: 18px;
		display: flex;
		ul {
			display: flex;
			a {
				text-decoration: none;
				color: #7c7b7b;
				font-family: Roboto, sans-serif;
				font-weight: 400;
				&:hover {
					color: #343434;
					&:after {
						content: '';
						display: block;
						height: 2px;
						background: #c58239;
					}
				}
			}

		}
		li {
			text-decoration: none;
			list-style: none;
			padding-right: 35px;
		}
	}
}

/* ________ADAPTIVE______ */
@media (max-width: 360px) {
	.toggleBtn {
		margin: 0 auto;
		margin-left: 50%;
	}
	li {
		//display: none;
	}
}

@media (max-width: 575.98px) {
	.wrapperMenu {
		display: none !important;
	}
}

// Small devices (landscape phones, less than 768px)
@media (max-width: 767.98px) {
	.whiteHeaderWrapper {
		display: flex;
		justify-content: flex-start;
		flex-direction: row;
		.layerImg {
			display: none;
		}
		.menuItemsWrappers {
			margin-top: -35px;
		}
		.toggleBtn {
				//margin-top: -70px;
				//margin-left: 100px;
		}
		li:last-child {
			display: none;
		}
	}
}

// Medium devices (tablets, less than 992px)
@media (max-width: 991.98px) {
	.menuItemsWrappers {
		justify-content: flex-start !important;
	}
	.toggleBtn {

	}
	.wrapperMenu {
		ul {
			padding-left: 4px;
		}
		li {
			padding-right: 10px !important;
		}
	}
}

// Large devices (desktops, less than 1200px)
@media (max-width: 1199.98px) {

}