.headerDark {
		.headerLogo {
			padding: 21px 0 20px 0;
		}
	.buttonWrapper {
		position: relative;
		display: flex;
		justify-content: flex-end;
		.wrapperButtonGroup {
			display: flex;
			flex-direction: column;
			padding-left: 5px;
			span {
				font-family: Roboto;
				font-weight: 700;
				font-size: 14px;
				letter-spacing: 0.7px;
			}
			.buttonGroup {
				display: flex;
				.bell {
					position: relative;
					.bellBudge {
						position: absolute;
						top: -10px;
						left: -5px;
					}
				}
			}
			.buttonGroup div{
				padding: 3px;
			}
		}
		// toggleMenu
		.menuHeader {
			position: absolute;
			top: 70px;
			right: -40px;
		}
	}
}