.headerDark {
	background: #1f1f1f;
	.adaptive {
		align-items: baseline;
	}
		.headerLogo {
			padding: 21px 0 20px 0;
		}
	.buttonWrapper {
		position: relative;
		display: flex;
		justify-content: flex-end;
		.userLogo {
			cursor: pointer;
		}
		.wrapperButtonGroup {
			display: flex;
			flex-direction: column;
			padding-left: 5px;
			span {
				font-family: Roboto, sans-serif;
				font-weight: 700;
				font-size: 14px;
				letter-spacing: 0.7px;
			}
			.buttonGroup {
				display: flex;
				.bell {
					position: relative;
					.bellBudge {
						position: absolute;
						top: -10px;
						left: -5px;
					}
					.bellBtn {
						cursor: pointer;
					}
				}
				.heartBtn {
					cursor: pointer;
				}
				.envelopeBtn {
					cursor: pointer;
				}

			}
			.buttonGroup div{
				padding: 3px;
			}
		}
		// toggleMenu
		.menuHeader {
			position: absolute;
			top: 70px;
			right: -40px;
		}
	}
}

/* ________ADAPTIVE______ */
@media (max-width: 360px) {
	.searchAdaptive {
		text-align: center;
		padding: 0;
		margin-left: -30px;
	}
}

@media (max-width: 375px) {
	.searchAdaptive {
		img {
			width: 90%;
		}
	}
}

@media (max-width: 575.98px) {
	.searchAdaptive {
		img {
			width: 95%;
		}
	}
}

// Small devices (landscape phones, less than 768px)
@media (max-width: 767.98px) {
	.menuHeader {
		position: absolute;
		top: 85px !important;
		right: 157px !important;
	}
}

// Medium devices (tablets, less than 992px)
@media (max-width: 991.98px) {
	.adaptive {
		display: flex;
		flex-direction: column;
		text-align: center;
	}
	.buttonWrapper {
		justify-content: center !important;
		padding: 20px 0;
	}
}

// Large devices (desktops, less than 1200px)
@media (max-width: 1199.98px) {

}