.wrapperStatistic {
	max-width: 373px;
	border-top-right-radius: 15px;
	border-top-left-radius: 15px;
	box-shadow: 0px 0px 5px #dedede;
	text-align: center;
	.wrapMenu {
		padding: 10px 35px;
		.itemWrapper {
			padding: 15px 0;
			display: flex;
			justify-content: flex-start;
			align-items: center;
			text-align: left;
			.wrapImg {
				width: 87px;
				height: 88px;
			}
			.itemTitle {
				color: #202020;
				font-family: Roboto, sans-serif;
				font-size: 21px;
				font-weight: 700;
				letter-spacing: 1.1px;

			}
			span {
				font-family: "Roboto - Regular", sans-serif;
				font-weight: 400;
			}
		}
	}
}
.sidebarBottom {
	max-width: 373px;
	color: white;
	background: #1f1f1f;
	border-bottom-left-radius: 15px;
	border-bottom-right-radius: 15px;
	display: flex;
	justify-content: space-between;
	text-align: center;
	.verticalLine {
		width: 2px;
		background: #ffffff;
		height: 90px;
		margin-top: 8px;
	}
	.bottomItem {
		display: flex;
		flex-direction: column;
		padding: 30px 20px;
		span {
			font-family: Roboto, sans-serif;
			font-size: 12px;
			font-weight: 700;
			color: #ffffff;
			letter-spacing: 0.6px;
		}
	}
}