.cardWrapper {
	background: white;
	max-width: 338px;
	position: relative;
	display: flex;
	border-radius: 15px;
	box-shadow: 0 0 10px rgba(204, 204, 204, 0.75);
	//padding: 10px 20px;
	padding: 10px 20px 10px 75px;
	justify-content: flex-start;
	.cardAvatar {
		position: absolute;
		right: 20px;
		top: 25px;
	}
	.imgWrapper {
		position: absolute;
		top: -5px;
		left: -35px;
		img	{
			width: 107px;
			height: 117px;
		}
	}
	.contentCardWrapper {
		padding: 21px 0;
		.cardTitle {
			color: #000000;
			font-family: Roboto, sans-serif;
			font-size: 18px;
			font-weight: 700;
			letter-spacing: 0.9px;
		}
		.cardDescription {
			opacity: 0.97;
			color: #b1afae;
			font-family: Roboto, sans-serif;
			font-size: 14px;
			font-weight: 700;
			letter-spacing: 0.7px;
		}
	}
}

/* ________ADAPTIVE______ */

@media (max-width: 1199px) {

}
@media (max-width: 991px) {
	.cardWrapper {
		margin: 0 auto;
	}
}

@media (max-width: 767px) {
	.cardWrapper {
		margin: 0 auto;
	}
}

@media (max-width: 575px) {

}

@media (max-width: 375px) {
	.imgWrapper {
		position: absolute;
		top: -5px;
		left: -30px !important;
	}
}

@media (max-width: 360px) {
	.imgWrapper {
		position: absolute;
		top: -5px;
		left: -28px !important;
	}
}



@media (max-width: 320px) {

}