.footerPartners{
  padding: 30px;
  background-image: linear-gradient(-267deg, #f03061 0%, #f8a142 100%);
  p{
    font-family: 'Roboto', sans-serif;
    color: #ffffff;
    font-size: 30px;
    font-weight: 500;
    letter-spacing: 1.5px;
  }
}

/* ________ADAPTIVE______ */
@media (max-width: 360px) {
  .rowWrapper {
    img {
      padding: 5px;
      width: 10%;
    }
    p {
      font-size: 18px;
    }
  }
}

@media (max-width: 575.98px) {
  .rowWrapper {
    img {
      width: 20%;
    }
    p {
      font-size: 20px;
    }
  }
}

// Small devices (landscape phones, less than 768px)
@media (max-width: 767.98px) {

}

// Medium devices (tablets, less than 992px)
@media (max-width: 991.98px) {

}

// Large devices (desktops, less than 1200px)
@media (max-width: 1199.98px) {

}