.middleHeaderWrapper {
	height: 98px;
	background: url(../../assets/images/background-header.png) top/cover, linear-gradient(to right, #f03061, #f8a142);
	display: flex;
	align-items: center;
	.headerTittle {
		font-family: Roboto, sans-serif;
		font-size: 30px;
		font-weight: 700;
		letter-spacing: 1.5px;
	}
	.midleHederText {
		position: relative;
		display: block;
		font-family: "Roboto Condensed", sans-serif;
		font-size: 14px;
		letter-spacing: 0.7px;
		cursor: pointer;
		padding-top: 10px;
		z-index: 1;
	}
}

/* ________ADAPTIVE______ */
@media (max-width: 360px) {
	.headerTittle {
		font-size: 18px !important;
	}
}

@media (max-width: 575.98px) {
	.headerTittle {
		font-size: 20px !important;
	}
}

// Small devices (landscape phones, less than 768px)
@media (max-width: 767.98px) {
	.headerTittle {
		font-size: 20px !important;
	}
}

// Medium devices (tablets, less than 992px)
@media (max-width: 991.98px) {

}

// Large devices (desktops, less than 1200px)
@media (max-width: 1199.98px) {

}