.newsWrapper {
  padding-bottom: 250px;
  .leftCol {
    display: flex;
  }
  .rightCol {
    font-size: 12px;
    letter-spacing: 0.6px;
  }
  .check {
    width: 21px;
    margin-right: 17px;
  }
  .mainDescr {
    font-family: 'Roboto', sans-serif;
    letter-spacing: 0.7px;
    font-style: italic;
    text-align: center;
    margin-bottom: 45px;
  }
  .newsBar {
    display: flex;
    justify-content: space-between;
    margin-bottom: 15px;
  }
  .checkWrap {
    input {
      width: 21px;
      margin-right: 17px;
    }
  }
  .primaryButton {
    box-shadow: 0 0 10px rgba(204, 204, 204, 0.75);
    background-color: #ffffff;
    background-image: linear-gradient(to right, #ed2d50 0%, #f6921e 100%);
    font-size: 22px;
    font-weight: 700;
    letter-spacing: 1.1px;
    padding: 13px 29px;
    outline: none;
    border: none;
    border-radius: 10px;
    color: #fff;
    &:hover {
      background-image: linear-gradient(to right, #f8a142, #f03061);
    }
  }
  .loadMore {
    text-align: center;
  }
  .customCheckbox {
    position: relative;
    width: 21px;
    height: 21px;
    appearance: none;
    box-shadow: none;
    border: 1px solid #cacaca;
    background-color: #f5f5f5;
    border-radius: 3px;
    &:checked{
      appearance: none;
      box-shadow: none;
      border: 1px solid #cacaca;
      background-color: #f8a04b;
      &:after{
        content: '';
        position: absolute;
        width: 8px;
        height: 14px;
        border: 2px solid;
        border-color: transparent white white transparent;
        transform: rotate(45deg);
        left: calc(50% - 4px);
      }
    }
    &:focus{
      appearance: none;
      box-shadow: none;
    }
  }
}